@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

body {
    font-family: "Inter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

img {
    width: 100%;
    
}

section {
    padding-top: 160px;
    padding-bottom: 160px;
}

/* NAVBAR */

/* Hero */
 #hero {
    background: linear-gradient(to right, #1b1f34, rgba(27, 31, 52, 0)), url(../img/123.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
 }
